# South Australia Crime Data 
## Data 
Data is courtesy of **South Australian Government Data Directory & SAPOL**. [DATA](https://data.sa.gov.au/data/dataset/crime-statistics).
## Problem
Clean, Visualise and identify South Australian Crime data trends
https://monkeylearn.com/data-cleaning/
https://monkeylearn.com/blog/data-cleaning-python/

### Cleaning: Will be split into three categoties
1. **Data exploring:** Understanding the data, noting any changes that need to be implmented on the data and identifying patterns, elements and relationships
2. **Data Filtering:**
3. **Data Cleaning:**

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('resources/2018-19-data_sa_crime.csv')
data.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2018,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
1,1/07/2018,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
2,1/07/2018,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,5.0
3,1/07/2018,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1.0
4,1/07/2018,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0

# Locate missing data 
Locate missing data using the python funciton `isnull()`, which will identify every where within our data set where there is missing values.This function will return a list where `True` indicates a missing value. We then use the `sum()` function will return the number of missing elements per column

In [8]:
data.isnull().sum()

Reported Date                    1
Suburb - Incident              197
Postcode - Incident            373
Offence Level 1 Description      1
Offence Level 2 Description      1
Offence Level 3 Description      1
Offence count                    1
dtype: int64

# Cleaning
Looking at the above table, it is evident that the key columns of this data set are:
1. Reported Date 
2. Postcode - Incident
3. Offence Level 1 Description
4. Offence count
## Replacing missing data
- Missing data within the *Suburb - Incident* row can be filled assuming the post code is known. 
- We will not be filling *Postcode - Incident* information that is missing as multiple postcodes can have the same or differnt suburb name i.e. Postcode is an **identifier** where as *Suburb - Incident* is an **identity** 
## Removing data
Any column which is missing the aforementioned four missing values will be removed as they are critical to this analysis